p {
  font-family: Arial, Helvetica, sans-serif;
}

#header {
  background-color: cadetblue;
  height: 10vh;
  font-size: 1.2rem;
}

#navbar {
  height: 77.5vh;
  width: 20vw;
  background-color: bisque;
}

#main {
  width: 80vw;
  height: 77.5vh;
  background-color: khaki;
}

#footer {
  background-color: cadetblue;
  height: 10vh;
  font-size: 1.2rem;
}

.navButton {
  background-color: cadetblue;
  height: 10vh;
  font-size: 1.2rem;
  width: 18vw;
  margin-block: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  flex-direction: column;
}

.rowFlex {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  flex-direction: row;
}

.columnFlex {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  flex-direction: column;
}
